<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title> BOOK20 </title>


    <script>
        $(document).ready(function () {
            show_review();
        });

        function show_review(){
            $.ajax({
                type: "GET",
                url: "/review",
                data: {},
                success: function (response) {
                    let rows = response['reviewcmt']
                    for (let i=0; i<rows.length; i++) {
                        let rvnickname = rows[i]['rvnickname']
                        let rvcontent = rows[i]['rvcontent']

                        let temp_html = `<div id="review-comment">
                                            <div id="rc-nickname">
                                                <p class="cmt-nick">${rvnickname}</p>
                                            </div>
                                            <div id="rc-content">
                                                <p class="cmt-cont">${rvcontent}</p>
                                            </div>
                                        </div>`
                        $('#rv-review-box').append(temp_html)
                    }
                }
            });
        }


        function save_review() {

            let nickname = $('#nickname').val()
            let content = $('#rv-text-box').val()

            $.ajax({
                type: 'POST',
                url: '/review',
                data: {nickname_give: nickname, content_give: content},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
    </script>



</head>
<body>

<div id="wrap">
    <div id="title-box">
        <h1 class="site-title">일월<span>소설</span></h1>
    </div>
    <div id="rv-book-box">
        <div id="rv-image-box">
            <img class="rv-book-image" src="http://image.kyobobook.co.kr/images/book/large/188/l9791161571188.jpg" alt="">
        </div>
        <div id="rv-info-box">
            <h1 class="rv-book-title">불편한 편의점(15만부 기념 윈터 에디션)</h1>
            <p class="rv-book-author">김호연 지음 | 나무옆의자 | 2021년 04월 20일 출간</p>
            <img class="rv-book-rank" src="https://simage.kyobobook.co.kr/ink/images/common/img_starating_a5.gif" alt="">
            <div id="rv-pub-review">
                <h4>출판사 서평</h4>
                <p>사람들이 기피하고 편견 어린 시선으로 바라보던 인물의 변신과 반전, 아이러니한 상황 전개는 이 소설의 가장 흥미로운 지점이다. 염 여사의 편의점은 직원들 입장에서는 비교적 좋은 대우를 받으며 안정적으로 일할 수 있는 곳이지만 주변에 편의점이 하나둘 생기면서 경쟁에서 밀리자 장사가 잘 되지 않는 상황에 봉착한다. 그러다 보니 동네 사람들에게 ‘불편한 편의점’으로 인식되는데, 이런 와중에 얼마 전까지 노숙자였던 ‘미련 곰탱이’ 같은 사내에게 야간 시간대를 맡긴다니 기존 직원들로서는 불안할 수밖에. 그런데 걱정도 잠시, 그가 들어온 후 편의점에는 신선한 변화의 바람이 일기 시작한다. 그는 물건을 슬쩍한 뒤 튀려는...<button id="more-btn">자세히</button></p>
            </div>

        </div>
    </div>
    <div id="rv-input-box">
        <input id="nickname" type="text" placeholder="닉네임">
        <button id="upload-btn" onclick="save_review()">등록하기</button>
        <textarea id="rv-text-box" placeholder="리뷰를 입력하세요."></textarea>
    </div>
    <div id="rv-review-box">
        <div id="review-comment">
            <div id="rc-nickname">
                <p class="cmt-nick">리버</p>
            </div>
            <div id="rc-content">
                <p class="cmt-cont">재미있어요!</p>
            </div>
        </div>
    </div>
</div>



</body>
</html>